<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306707216712-serbg3jlfqaj3jeq1klgv0g23rn6gccg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306707216712-serbg3jlfqaj3jeq1klgv0g23rn6gccg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306707216712-gsareugu6ocasknlri6rq0ntmdcp0k9q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGAMpXWUP2gH0nzLC0NH5mXWTtBPtoiv4</string>
	<key>GCM_SENDER_ID</key>
	<string>306707216712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hansikApp</string>
	<key>PROJECT_ID</key>
	<string>hansik-16c5b</string>
	<key>STORAGE_BUCKET</key>
	<string>hansik-16c5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306707216712:ios:ffa672c7f9913a1118db7d</string>
	<key>DATABASE_URL</key>
	<string>https://hansik-16c5b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>